

<% include partials/header %>
<br>
<br>


<div class="jumbotron">
  <h1>Anthony</h1>
  <p>welcome to my porfolio</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>
<div class="row">
  <div class="col-sm-6 col-md-12">
  <div class="thumbnail">
      <img src="pic.jpg" >
      <div class="caption">
        <center><h3>JuneBox Project</h3></center>

        <center><p><a href="https://github.com/Anth350z/ttp_day3" class="btn btn-primary" role="button">GitHub</a></p></center>
      </div>
    </div>
  </div>
</div>

<!-- <a href="/post">posts/a> -->

<% include partials/footer %>
