<% include partials/header %>
  <div id="estilo" class="">
    <div id="header" class="page-header">

      <h1>Blog</h1>
      <p>
        <a class="btn btn-primary btn-large" href="/post/new">Add New Post</a>
      </p>
    </div>

    <center>
      <div class="row  col-lg-12 col-sm-6 text-center" style="display:flex; flex-wrap: wrap;">
        <% result.forEach(function(post){ %>
          <div id="postcolor" class="container .z-depth-5">
            <h2><%=post.name%></h2>

            <div class="">
              <img src='<%= post.picture %>'>

            </div>
            <h4><%= post.desc %></h4>
            <p><a href="/postOpen/<%= post.id %>" class="btn btn-default btn-lg">Read More</a>
            </p>
          </div>
          <hr>
          <% }); %>
      </div>
    </center>
  </div>

  <% include partials/footer %>
